<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bootstrap Visualization Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<!-- Navigation-->

<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFB575;">
            <a class="navbar-brand" style="background-color: #FFB575;">2014 Global Carbon
                Emissions </a>
            <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="visuals.html">Visuals</a>
                            <a class="dropdown-item" href="geomapping.html">Geomapping</a>
                          </div>
                        <li class="nav-item">
                            <a class="nav-link" href="data.html">Data</a>
                        </li>
                        </li>
                        <!-- drop down to add things to when we need-->
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- Content -->
    <div class="container">
        <div class="row" style="padding-top: 50px;">
            <div class="col-lg-7 col-md-10">
                <!-- Left box  -->
                <div class="box-1">
                    <h3 class="title">Global Carbon Emissions Visual</h3>
                    <hr>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Arashiyama-Bamboo-Grove-Sunset.jpg/720px-Arashiyama-Bamboo-Grove-Sunset.jpg"
                        class="vizualization rounded float-left" alt="Bamboo">
                    <p> We can put text here about the data analyzation when we are ready.</p>

                </div>
            </div>
            <div class="col-lg-6 col-md-10">
                <!-- Right Box -->
                <div class="box-2">
                    <h5 class="title">Bottom Box</h5>
                    <hr>

                    <div class="container">
                        <div class="row" style="padding-bottom: 30px;">
                            <div class="col-8">
                                <img class="panel"
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Bamboo123.jpg/854px-Bamboo123.jpg"
                                    alt="Bamboo">

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>