.navbar {
    position:absolute;
    z-index:10;
    background:transparent;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    color: #C36900;
    font-family: "Futura", Bold, italic;
    font-size:20px;
  }



  .navbar ul{
    text-align:center;
  }
  
  .box-1 {
    color: #C36900;
    font-family: "Futura", Bold, italic;
  }

  .box-2 {
    color: #C36900;
    font-family: "Futura", Bold, italic;
  }
  /* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

h1 {
  text-align: center;
}

